.lista {
  margin-top: 50px;
  font-size: 35px
}

#numero1{
  font-size:35px
}
#numero2{
  font-size:35px
}
#numero3{
  font-size:35px
}

.enviar {
font-size: 35px;;
vertical-align: top;
width: 20%;
margin-left: 18%;
}

